n8n/workflow_webhook.json
{
  "name": "Document Organizer - Webhook Receiver",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "processing-status",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "w1a2b3c4-d5e6-7890-abcd-ef1234567890",
      "name": "Webhook - Processing Status",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "webhookId": "processing-status-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Parse and validate the incoming webhook payload\nconst payload = $input.first().json;\n\n// Validate required fields\nif (!payload.event) {\n  return [{ json: { error: 'Missing required field: event', valid: false } }];\n}\n\nif (!payload.job_id) {\n  return [{ json: { error: 'Missing required field: job_id', valid: false } }];\n}\n\n// Normalize event names\nconst validEvents = [\n  'processing_started',\n  'phase_complete', \n  'review_required',\n  'processing_complete',\n  'processing_failed'\n];\n\nconst event = payload.event.toLowerCase().replace(/-/g, '_');\n\nif (!validEvents.includes(event)) {\n  return [{ json: { error: `Unknown event type: ${event}`, valid: false } }];\n}\n\nreturn [{\n  json: {\n    valid: true,\n    event: event,\n    jobId: payload.job_id,\n    phase: payload.phase || null,\n    stats: payload.stats || {},\n    outputPath: payload.output_path || null,\n    reportPath: payload.report_path || null,\n    summary: payload.summary || {},\n    error: payload.error || null,\n    partialOutput: payload.partial_output || null,\n    timestamp: payload.timestamp || new Date().toISOString(),\n    rawPayload: payload\n  }\n}];"
      },
      "id": "w2b3c4d5-e6f7-8901-bcde-f12345678901",
      "name": "Parse Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "w3c4d5e6-f7a8-9012-cdef-123456789012",
      "name": "Payload Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "processing_started",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Started"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "phase_complete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Phase Complete"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "review_required",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Review Required"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "processing_complete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Complete"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "processing_failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Failed"
            }
          ]
        },
        "options": {}
      },
      "id": "w4d5e6f7-a8b9-0123-def0-123456789abc",
      "name": "Route By Event",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE processing_jobs \nSET status = 'processing', \n    started_at = NOW(),\n    current_phase = 'started'\nWHERE id = '{{ $json.jobId }}'\nRETURNING id, status, started_at;",
        "options": {}
      },
      "id": "w5e6f7a8-b9c0-1234-ef01-23456789abcd",
      "name": "DB - Processing Started",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1140, 120],
      "credentials": {
        "postgres": {
          "id": "postgres-credential-id",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE processing_jobs \nSET current_phase = '{{ $json.phase }}',\n    progress_percent = CASE \n      WHEN '{{ $json.phase }}' = 'indexing' THEN 25\n      WHEN '{{ $json.phase }}' = 'deduplicating' THEN 50\n      WHEN '{{ $json.phase }}' = 'versioning' THEN 75\n      WHEN '{{ $json.phase }}' = 'organizing' THEN 90\n      ELSE progress_percent\n    END,\n    files_processed = COALESCE({{ $json.stats.files_processed }}, files_processed)\nWHERE id = '{{ $json.jobId }}'\nRETURNING id, status, current_phase, progress_percent;",
        "options": {}
      },
      "id": "w6f7a8b9-c0d1-2345-f012-3456789abcde",
      "name": "DB - Phase Complete",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1140, 280],
      "credentials": {
        "postgres": {
          "id": "postgres-credential-id",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE processing_jobs \nSET status = 'review_required',\n    current_phase = 'review',\n    duplicates_found = COALESCE({{ $json.summary.duplicates }}, 0),\n    version_chains_found = COALESCE({{ $json.summary.versions }}, 0)\nWHERE id = '{{ $json.jobId }}'\nRETURNING id, status;",
        "options": {}
      },
      "id": "w7a8b9c0-d1e2-3456-0123-456789abcdef",
      "name": "DB - Review Required",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1140, 440],
      "credentials": {
        "postgres": {
          "id": "postgres-credential-id",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE processing_jobs \nSET status = 'packaging',\n    current_phase = 'packaging',\n    output_zip_path = '{{ $json.outputPath }}',\n    progress_percent = 95\nWHERE id = '{{ $json.jobId }}'\nRETURNING id, status, output_zip_path;",
        "options": {}
      },
      "id": "w8b9c0d1-e2f3-4567-1234-56789abcdef0",
      "name": "DB - Processing Complete",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1140, 600],
      "credentials": {
        "postgres": {
          "id": "postgres-credential-id",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE processing_jobs \nSET status = 'failed',\n    current_phase = '{{ $json.phase }}',\n    error_message = '{{ $json.error }}'\nWHERE id = '{{ $json.jobId }}'\nRETURNING id, status, error_message;",
        "options": {}
      },
      "id": "w9c0d1e2-f3a4-5678-2345-6789abcdef01",
      "name": "DB - Processing Failed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1140, 760],
      "credentials": {
        "postgres": {
          "id": "postgres-credential-id",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO processing_log (document_id, batch_id, action, phase, details, success, created_at)\nVALUES (\n  NULL,\n  '{{ $('Parse Payload').first().json.jobId }}'::uuid,\n  '{{ $('Parse Payload').first().json.event }}',\n  '{{ $('Parse Payload').first().json.phase || \"n/a\" }}',\n  '{{ JSON.stringify($('Parse Payload').first().json.stats || {}) }}',\n  TRUE,\n  NOW()\n)\nRETURNING id;",
        "options": {}
      },
      "id": "wad1e2f3-a4b5-6789-3456-789abcdef012",
      "name": "Log Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1380, 400],
      "credentials": {
        "postgres": {
          "id": "postgres-credential-id",
          "name": "PostgreSQL"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-auto-approve",
              "leftValue": "={{ $env.AUTO_APPROVE_REVIEW }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wbe2f3a4-b5c6-7890-4567-89abcdef0123",
      "name": "Auto Approve?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1380, 540]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://processor:8000/approve",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"job_id\": \"{{ $('Parse Payload').first().json.jobId }}\",\n  \"approved\": true,\n  \"auto_approved\": true\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "wcf3a4b5-c6d7-8901-5678-9abcdef01234",
      "name": "Auto Approve Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1600, 440],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NOTIFICATION_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event\": \"review_required\",\n  \"job_id\": \"{{ $('Parse Payload').first().json.jobId }}\",\n  \"report_path\": \"{{ $('Parse Payload').first().json.reportPath }}\",\n  \"summary\": {{ JSON.stringify($('Parse Payload').first().json.summary) }},\n  \"message\": \"Document organization requires review before execution\",\n  \"review_url\": \"{{ $env.REVIEW_UI_URL }}/jobs/{{ $('Parse Payload').first().json.jobId }}\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "wda4b5c6-d7e8-9012-6789-abcdef012345",
      "name": "Notify Review Required",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1600, 640],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/processing-complete",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event\": \"processing_complete\",\n  \"job_id\": \"{{ $('Parse Payload').first().json.jobId }}\",\n  \"output_path\": \"{{ $('Parse Payload').first().json.outputPath }}\",\n  \"stats\": {{ JSON.stringify($('Parse Payload').first().json.stats) }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "web5c6d7-e8f9-0123-789a-bcdef0123456",
      "name": "Trigger Upload Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1380, 720]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NOTIFICATION_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event\": \"processing_failed\",\n  \"job_id\": \"{{ $('Parse Payload').first().json.jobId }}\",\n  \"error\": \"{{ $('Parse Payload').first().json.error }}\",\n  \"phase\": \"{{ $('Parse Payload').first().json.phase }}\",\n  \"message\": \"Document processing failed\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "wfc6d7e8-f9a0-1234-89ab-cdef01234567",
      "name": "Notify Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1380, 880],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"event\": \"{{ $('Parse Payload').first().json.event }}\",\n  \"job_id\": \"{{ $('Parse Payload').first().json.jobId }}\",\n  \"message\": \"Event processed successfully\"\n}",
        "options": {}
      },
      "id": "w0d7e8f9-a0b1-2345-9abc-def012345678",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1820, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"{{ $json.error }}\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "w1e8f9a0-b1c2-3456-abcd-ef0123456789",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 600]
    }
  ],
  "connections": {
    "Webhook - Processing Status": {
      "main": [
        [
          {
            "node": "Parse Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Payload": {
      "main": [
        [
          {
            "node": "Payload Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payload Valid?": {
      "main": [
        [
          {
            "node": "Route By Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route By Event": {
      "main": [
        [
          {
            "node": "DB - Processing Started",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DB - Phase Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DB - Review Required",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DB - Processing Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DB - Processing Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB - Processing Started": {
      "main": [
        [
          {
            "node": "Log Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB - Phase Complete": {
      "main": [
        [
          {
            "node": "Log Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB - Review Required": {
      "main": [
        [
          {
            "node": "Auto Approve?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto Approve?": {
      "main": [
        [
          {
            "node": "Auto Approve Job",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Review Required",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto Approve Job": {
      "main": [
        [
          {
            "node": "Log Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Review Required": {
      "main": [
        [
          {
            "node": "Log Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB - Processing Complete": {
      "main": [
        [
          {
            "node": "Trigger Upload Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Upload Workflow": {
      "main": [
        [
          {
            "node": "Log Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB - Processing Failed": {
      "main": [
        [
          {
            "node": "Notify Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Failure": {
      "main": [
        [
          {
            "node": "Log Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Event": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "Document Organizer"
    },
    {
      "name": "Cloud Integration"
    }
  ],
  "triggerCount": 1,
  "pinData": {},
  "versionId": "1.0.0"
}
